[run]
source = app
omit =
    app/__init__.py
    app/config.py
    app/routes/*
    app/utils/decorators.py
    */migrations/*

[report]
show_missing = True
fail_under = 85

[html]
directory = htmlcov